Repository awslabs/aws-cloudfront-extensions, pull requests merged in 2021-01, with the labels that each got.

#20 Update package.json
  edge/nodejs/modify-response-header/modify-response-header/package.json
  edge/nodejs/modify-response-status-code/modify-response-status-code/package.json
Labels: nodejs/modify-response-status-code

#21 pr test commit
  edge/nodejs/modify-response-status-code/modify-response-status-code/app.js
Labels: CI-Succeed, nodejs/modify-response-status-code

#38 change aws access key and secret key for CI process
  .github/workflows/nodejs-ci.yaml
  .github/workflows/python-ci.yaml
  scripts/nodejs-ci-build-coverage.sh
Labels: nodejs/authentication-with-cognito

#61 Add normalize query string application
  edge/nodejs/normalize-query-string/LICENSE.txt
  edge/nodejs/normalize-query-string/README.md
  edge/nodejs/normalize-query-string/events/event.json
  edge/nodejs/normalize-query-string/normalize-query-string/.npmignore
  edge/nodejs/normalize-query-string/normalize-query-string/app.js
  edge/nodejs/normalize-query-string/normalize-query-string/package.json
  edge/nodejs/normalize-query-string/normalize-query-string/tests/unit/test-handler.js
  edge/nodejs/normalize-query-string/template.yaml
Labels: CI-Succeed, nodejs/normalize-query-string

#68 Add access origin by weight rate lambda edge app
  edge/nodejs/access-origin-by-weight-rate/LICENSE.txt
  edge/nodejs/access-origin-by-weight-rate/README.md
  edge/nodejs/access-origin-by-weight-rate/access-origin-by-weight-rate/.npmignore
  edge/nodejs/access-origin-by-weight-rate/access-origin-by-weight-rate/app.js
  edge/nodejs/access-origin-by-weight-rate/access-origin-by-weight-rate/package.json
  edge/nodejs/access-origin-by-weight-rate/access-origin-by-weight-rate/tests/unit/test-handler.js
  edge/nodejs/access-origin-by-weight-rate/events/event.json
  edge/nodejs/access-origin-by-weight-rate/template.yaml
Labels: CI-Succeeded, nodejs/access-origin-by-weight-rate

#73 adding multiple retry lambda edge
  edge/nodejs/multiple-origin-IP-retry/LICENSE.txt
  edge/nodejs/multiple-origin-IP-retry/README.md
  edge/nodejs/multiple-origin-IP-retry/events/event.json
  edge/nodejs/multiple-origin-IP-retry/multiple-origin-IP-retry/.npmignore
  edge/nodejs/multiple-origin-IP-retry/multiple-origin-IP-retry/app.js
  edge/nodejs/multiple-origin-IP-retry/multiple-origin-IP-retry/package.json
  edge/nodejs/multiple-origin-IP-retry/multiple-origin-IP-retry/tests/unit/test-handler.js
  edge/nodejs/multiple-origin-IP-retry/multiple-origin-IP-retry/webpack.config.js
  edge/nodejs/multiple-origin-IP-retry/samconfig.toml
  edge/nodejs/multiple-origin-IP-retry/template.yaml
Labels: CI-Succeeded, nodejs/multiple-origin-IP-retry
